body{
    padding-inline: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.header_bar {
    display: flex;
    justify-content: space-evenly;
}
.links{
    display: flex;
    gap: 20px;
    align-items:first baseline;
}
.icons{
    display: flex;
    gap: 20px;
}
a {
    font-size: smaller;
}

hr {   
    border: none; /* Remove default border */
    height: 4px; /* Set the thickness */
    background-color: rgb(206, 206, 34); /* Set the color */
    margin: 10px 0; /* Space above and below the line */
}
h3 {
    color: rgb(206, 206, 19);
    align-self: center;
}
.main {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
button {
    background-color: rgb(212, 200, 24);
    border-color: rgb(255, 255, 255);
    height: min-content;
}
.about {
    color: white;
}
.Products{
    display: flex;
    justify-content: space-evenly;
    padding-inline: 40px;

}
#x{
    padding-inline: 40px;
}
#y {
    padding-inline: 20px;
}
.h{
    color: rgb(206, 206, 34);
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
.middle_links{
    display: flex;
    font-size: small;
    gap: 20px;
    padding-left: 20px;
}
.only{
    display: flex;
    justify-content: space-evenly;
    padding-inline: 20px;
}
#tol{
    padding-left: 30px;
}
.last {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
.hh{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(104, 58, 58);
    padding-inline: 0px;
}
.l{
    color: rgb(179, 172, 164);
}
.a{
    padding-inline: 20px;
}
a {
    color: black;
}